{%extends 'layout.html'%}

{%block content%}

	<div class="content-section">
		<form method="POST" action="">
			<!-- protects against certain cross-site attacks -->
			{{ form.hidden_tag() }}

			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Open an Existing Box</legend> 
				<div class="form-group">
					{{ form.username.label(class="form-control-label") }}
					{% if form.username.errors %}
						{{ form.username(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.password.label(class="form-control-label") }}
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-check" style="font-size:75%;">
					{{ form.remember(class="form-check-input") }}
					{{ form.remember.label(class="form-check-label") }} 
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
	<div class="border-top pt-2">
		<small class="text-muted">
			Want To Create a Box? Do It <a class="ml-auto" href="{{ url_for('register') }}">Here</a>
		</small>
	</div>
	
{%endblock%}