{%extends 'layout.html'%}

{%block content%}
	
	<h2 class="container">{{ current_user.name }}'s Box</h2>
	{% for note in notes %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <small class="text-muted">{{ note.date_posted.strftime('%m-%d-%Y') }}</small>
		    </div>
		    <h4><a class="article-title" href="#">{{ note.title }}</a></h4>
		    <p class="article-content">{{ note.content }}</p>
		  </div>
		</article>
	{% endfor %}

{%endblock%}